html { font-family: sans-serif; background: rgb(212, 212, 212); padding: 1rem; }
body { width: 960px; margin: 0 auto; background: white; }

.disable-select{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

#navbar ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: rgb(83, 80, 255); }
#navbar li { float: left; cursor: pointer; border-right: 1px solid #bbb; }
#navbar li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
#navbar li a:hover { background-color: rgb(30, 40, 179); }
#navbar .active { background: rgb(30, 40, 179); }

/* Sudoku app */
#app { width: fit-content; margin: 20px auto 20px; }
/* Sudoku grid */
#grid { display: inline-block; }
#grid tr { display: flex; }
#grid tr:nth-child(3n) { border-bottom: solid; }
#grid tr:first-child { border-top: solid 4px; }
#grid tr:last-child { border-bottom: solid 4px; }
#grid td:nth-child(3n) { border-right: solid; }
#grid td:first-child { border-left: solid 4px; }
#grid td:last-child { border-right: solid 4px; }
.cell { display: inline-block; cursor: pointer; border: 1px solid black; width: 40px; height: 40px; text-align: center; font-size: 30px; }

#left-bar { float: left; }
#right-bar { float: right; }
.sidebar { width: 150px; background: khaki; margin: 10px; padding: 10px; align-content: flex-end;}


h1 { font-family: serif; color: #b0c3cf; margin: 1rem 0; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }