{% extends "base.html" %}
{% set active_page = "sudoku" %}

{% block title %}Sudoku{% endblock %}
{% block head %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block content %}
    <div id='app' draggable='false'>
      <div id='left-bar' class='sidebar'>
        <button v-on:click='get_moderate_sudoku'>[[ message ]]</button><br>
        <a href="#" id='get_moderate_sudoku'>Get Moderate Sudoku</a>
      </div>

      {# Create Sudoku Grid #}
      <table id='grid' class='disable-select' draggable="false">
        {% for i in range(1, 10) %}
          <tr id={{ 'r' ~ i }}>
          {% for j in range(1, 10) %}
            <td id = {{ 'c' ~ j }} class='cell'></td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>
      
      <div id='right-bar' class='sidebar'>
          <input type="button" value="Show Puzzle">
        </div>
    </div>

    <sudoku></sudoku>
{% endblock %}

{% block script %}
<script type=text/javascript>

  var vue_app = new Vue({
    el: '#app',
    delimiters: ["[[", "]]"],
    data: {
      message: 'Hello',
      items: [
        { message: 'Hey' },
        { message: 'Hi' }
      ]
    },
    methods: {
      get_moderate_sudoku: function(){
        this.message = this.message.split("").reverse().join("")

      }
    }
  });

  $(function(){
    $('#app').on('click', '#get_moderate_sudoku', function() {
      $.getJSON('/data/sudokus', function(data) {
        // Enter sudoku into the grid
        enter_sudoku(data.sudoku)
      });
    });

  });

  function enter_sudoku(sudoku){
    // Iterate through each cell
    $(sudoku).each(function(i){
      $(sudoku[i]).each(function(j){
        // Select the cell element in grid
        cell = $('#grid #r'+(i+1) + ' #c'+(j+1))
        // Clear cell
        cell.text('')

        // Check if cell is a number or array (list of possible numbers)
        if (typeof(sudoku[i][j]) == 'number'){
          if (sudoku[i][j] > 0){
            // Input value into grid
            cell.text(sudoku[i][j])
          };
        } else if (sudoku[i][j] == 'array') {
          // Enter numbers into a cell-grid in grid
        };
      });
    });
    return True
  };

  function get_sudoku(){
    // Return the sudoku currently in the grid
  };

</script>
{% endblock %}